# History files
.Rhistory
.Rapp.history
venv
*.pyc
*~
*#*
#*

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Build-retalted stuff
inctools.Rcheck
*.tar.gz
*.tgz
*.zip

# RStudio files
.Rproj.user/

# produced vignettes
#vignettes/*.html
#vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

# Mac garbage
.DS_Store

# PyCharm files
.idea/

# Julia test scripts
inctools-julia/test.jl
inctools-julia/truncated_normal.jl
