importFrom(foreach, "%dopar%")
importFrom(magrittr,"%>%")
export(inccounts)
export(incpower)
export(incprecision)
export(incprops)
export(mdrical)
export(frrcal)
#export(fit_binomial_model)
#export(integrate_for_mdri)
export(prevcounts)
